/*---------Body-----------------*/
body {
  font-family: 'Open Sans', sans-serif;
}

.underlined {
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: #6e6e6e;
  margin-bottom: 0;
  margin-top: 0;
}

h3,
.latest-score {
  color: #6E6E6E;
  margin-top: 0;
  margin-bottom: 5px;
}

content {
  display: flex;
}

p.bold {
  font-weight: bold;
}

/*---------Header---------------*/
.header-title {
  color: #DD1972;
  font-size: 55px;
  margin: 0 0 0 0;
  padding-top: 20px;
}

.header-span {
  font-weight: 100;
}

header {
  background-color: #404041;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

#subtitle {
  display: inline;
  font-size: 18px;
  color: #fff;
  font-weight: 100;
  margin-bottom: 0;
}

.title hr {
  margin:5px 5px;
  width: 9%;
  display: inline-block;
}

.main-flex {
  display: flex;
}

/*---------Input Column----------*/
.challenger-names {
  font-weight: bold;
  text-transform: uppercase;
}

.challenger2-name,
.challenger1-name {
  font-weight: bold;
  text-transform: uppercase;
}

main {
  align-items: center;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  width: 50%;
}

input {
  margin-right: 10px;
  width: 100%;
}

input:focus {
  border-color: #DD1972;
  outline: none;
  padding: 2px;
}

textarea:focus {
  border-color: #DD1972;
  padding: 2px;
}

.fa-exclamation-triangle {
  margin-right: 5px;
}

.left-column {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}

#update-button {
  width: 33%;
}

.input-boxes {
  display: flex;
  justify-content: space-between;
}

.range-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.current-guess-title {
  margin-bottom: 25px;
}

.challenger-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-input {
  display: inline-block;
  width: 30%;
}

.challenger-name {
  width: 63%;
}

#challenger-name1,
#challenger-name2 {
  width: 100%;
}

#challenger1-latest-guess,
#challenger2-latest-guess { 
  align-items: center;
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
}

#challenger1-latest-guess .latest-score {
  font-size:1.2rem;
  font-weight: bold;
  width: 100%;
}

.challenger-guesses {
  display: flex;
}

#challenger2-latest-guess {
  border-left: 1px solid lightgrey;
}

.challenger1-guess {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.challenger2-guess {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.set-range,
.user-guess,
.challenger-guesses {
  background-color: white;
  border: 2px solid #DBDBDB;
  margin: 15px 20px;
  padding: 10px;
}

.hide-me {
  visibility: hidden;
}

button {
  background-color: #6E6E6E;
  border-radius: 50px;
  color:#fff;
  display: flex;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
  justify-content: center;
  height: 32px;
}

button:active {
  background-color: #6E6E6E;
}

button:disabled {
  background-color: #D0D2D3
}

button:hover {
  background-color: #DD1972;
}

.src-buttons {
  margin: 15px;
}

#button-div {
  width: 100%;
  display: flex;
}

#submit-button,
#reset-button,
#clear-button {
  width: 33%;
}

.current-guess {
  color: #DD1972;
  font-size: 48pt;
  font-weight: bold;
  margin:0;
}

p#ch1-feedback-message {
  font-size: 20px;
}

p#ch2-feedback-message {
  font-size: 1.5em;
}

/*--------Error Messages--------*/

.error {
  color: #DD1972;
  visibility: hidden;
}

/*---------Right Column---------*/

aside {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

p#winner-name {
  font-size: 2.5em;
  font-weight: bold;
}

.right-column {
  align-items: center;
  background-color: #D0D2D3;
  border-left: 2px solid #abacad;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.card-results {
  background-color: white;
  border: 2px solid #abacad;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-transform: uppercase;
  width: 90%;
}

.card-header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.winner {
  font-size: 30px;
  margin-top: 5px;
}

.card-body {
  justify-content: center;
/*  display: flex;*/
/*  flex-direction: column;*/
}

.guesses {
  margin-left: 7px;
}

hr {
  border-top: .5px solid #D0D2D3;
  text-align: center;
  width: 95%;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.delete-button {
    height: 23px;
    width: 23px;
    background: #6e6e6e;
    color: lightgrey;
    border-radius: 50%;
}

.footer-flex {
  display: flex;
}

/*--------Media Queries---------*/
/*@media screen and (max-width: 1145px){
  article.input-boxes{
    flex-direction: column;
  }
}
@media screen and (min-width: 930px){
  .challengers{
  display: flex;
  flex-direction: column;
}
} */
